@media only screen and (max-width: 1100px){
*{
    font-size: small;
}
.navbar{
  height: 250px;
}
.nav-list{
    display: flex;
    flex-direction: column;
}
.navbar-res{
    height: 50px;
    transition: height 1s ease-in-out;
}
#hamburger{
    display: inline-block;
    margin: 3px;
    box-sizing: border-box;
    font-size: 40px;
    order: 1;
}
.navbar-menu{
    margin-top: 40px;
}
.navbar-logo{
    /* margin: 0px; */
    font-size: xx-large;
}
.res-ham{
    opacity: 0;
    transition: all 1s ease-in-out;
}
.btn{
    font-size: 12px;
}
.about-right div{
    font-size: small;
}
.about-right button{
    margin-top: 15px;
}
.about-right{
    font-size: small;
}
.imageHolder img {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    position: relative;
    top: 10%;
    right: 20%;
}
.services-container{
    max-width: 40%;
}
}
@media only screen and (max-width: 800px){

    .portfolio-item{
        grid-template-columns: repeat(3,1fr);
        /* grid-template-rows: repeat(4,200px); */
        grid-template-areas:
        "box-8 box-8 box-2"
        "box-6 box-7 box-2"
        "box-6 box-4 box-3"
        "box-5 box-1 box-3";
    }
    .front-big{
        font-size: 4.5rem;
    }
}
@media only screen and (max-width: 600px){
    *{
        font-size: xx-small;
    }
    .portfolio-item{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,250px);
        grid-template-areas:
        "box-4"
        "box-2"
        "box-3"
        "box-1"
        "box-5"
        "box-6"
        "box-7"
        "box-8";   
    }
    .services-container{
        max-width: 80%;
    }
    .front-big{
        font-size: 3.5rem;
    }
    .imageHolder img {
        width: 60%;
        height: 60%;
    }  
}
@media only screen and (max-width: 500px){
    .about-left img{
        margin-top: 20%;
    }
}
