@media only screen and (max-width: 1100px){
*{
    font-size: small;
}
.navbar{
  height: 250px;
}
.nav-list{
    display: flex;
    flex-direction: column;
}
.navbar-res{
    height: 50px;
    transition: height 600ms ease-in-out;
}
#hamburger{
    display: inline-block;
    margin: 3px;
    box-sizing: border-box;
    font-size: 40px;
    order: 1;
}
.navbar-menu{
    margin-top: 40px;
}
.navbar-logo{
    /* margin: 0px; */
    font-size: xx-large;
}
.res-ham{
    opacity: 0;
    transition: opacity 600ms ease-in-out;
}
.btn{
    font-size: 12px;
}
.about-right div{
    font-size: small;
}
.about-right button{
    margin-top: 15px;
}
.about-right{
    font-size: small;
}
.imageHolder img {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    position: relative;
    top: 10%;
    right: 20%;
}
.services-container{
    max-width: 40%;
}
}
@media only screen and (max-width: 800px){

    .portfolio-item{
        grid-template-columns: repeat(3,1fr);
        /* grid-template-rows: repeat(4,200px); */
        grid-template-areas:
        "box-8 box-8 box-2"
        "box-6 box-7 box-2"
        "box-6 box-4 box-3"
        "box-5 box-1 box-3";
    }
    .front-big{
        font-size: 4.5rem;
    }
}
@media only screen and (max-width: 600px){
    .btn{
        width: 50%;
        font-size: 15px;
    }
    .about-right , .about-right div{
        font-size: x-small;
    }
    .btnabout{
        font-size: x-small;
    }
    .num{
        font-size: 30px;
    }
    .portfolio-item{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,250px);
        grid-template-areas:
        "box-4"
        "box-2"
        "box-3"
        "box-1"
        "box-5"
        "box-6"
        "box-7"
        "box-8";   
    }
    .services-container{
        max-width: 80%;
    }
    .front-big{
        font-size: 3.5rem;
    }
    .imageHolder img {
        width: 60%;
        height: 60%;
    }  
    input{
        width: 100%;
    }
    .form-container img{
        display: none;
    }
    .form-container{
        display: block;
        text-align: center;
    }
    textarea{
        width: 100%;
    }
    .ser-content{
        font-size: small;
    }
    .form-container div{
        margin: auto;
    }
    .about-h2{
        font-size: xx-large;
    }
}
@media only screen and (max-width: 500px){
    .about-left img{
        margin-top: 20%;
    }
    .details{
        flex-wrap: wrap;
    }
    .contact-cards{
        width: 60%;
    }
    .galleryContainer{
        height: 572px;
    }
}
@media only screen and (max-width: 300px){
    .num{
        font-size: 20px;
    }
    .about-right button{
        width: 40%;
    }
    .about-left img{
        padding: 0;
        border-radius: 5px;
        margin-top: 100px;
    }
    .captionText{
        font-size: xx-small;
    }
    .galleryContainer{
        height: 572px;
    }
    .data{
        font-size: smaller;
    }
}
